<!DOCTYPE html>
<html>
<head>
    <title>Portal</title>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bower_components/material-calendar/dist/angular-material-calendar.css">
    <script type="text/javascript" src = "bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src = "bower_components/angular-animate/angular-animate.min.js"></script>
          <script type="text/javascript" src = "bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src = "bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src = "bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src = "bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src = "app.js"></script>
    <script type="text/javascript" src = "bower_components/material-calendar/dist/angular-material-calendar.js"></script>
</head>
<body ng-app = "myApp" layout = "column">
<div layout="row" flex>
    <md-sidenav md-whiteframe = "5" id = "appSidenav" md-is-locked-open="$mdMedia('gt-md')" flex = "20"> 
     <div class = "container" layout="column">
        <header class = "nav-header"> 
            <div style="display: flex; justify-content: center; margin-top:1em "><img src="img/OpalLogo.png" width = "30%"></div>
            <h2 class = "md-heading" style = "color:white; text-align: center;"> Opal Health </h2>
        </header>
        <md-divider></md-divider>
        <md-button style = "color:white;">Home</md-button>
        <md-divider></md-divider>
        <md-button style = "color:white;">My Chart</md-button>
        <md-divider></md-divider>
         <md-button style = "color:white;">Educational</md-button>
        <md-divider></md-divider>
        <md-button style = "color:white;">Treating Team</md-button>
        <md-divider></md-divider>
        <md-button style = "color:white;">My Account</md-button>
        <md-divider></md-divider>
        </div>
    </md-sidenav>
    <div class = "container" layout="column" flex>
        <md-toolbar md-whiteframe = "3"  id = "appToolbar" layout-align = "center center" felx >
            <h3 style = "color:#75a23b;" >Appointments</h3>
        </md-toolbar>
        <div class = "container" layout="row" flex>
            <div class = "container appBackground" layout="column" flex ="50">
             <md-content class = "appBackground">
            <md-card md-whiteframe= "3">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" style = "color:#75a23b;"><b><u>Your next appointent</u> </b></span>
                        <span class="md-headline">CT for Radiotherapy Planning</span>
                         <span class="md-subhead"><i class="fa fa-calendar" style="color:#2B6197"></i>&nbsp;13/7/1994</span>
                        <span class="md-subhead"><i class="ion-person iconHomeView"></i>&nbsp;Dr. Justin Beiber</span>
                        <span class="md-subhead">(514)-HOTLINE-BLING</span>
                        <span class="md-subhead">bieber@justin.com</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            </md-content>
           <calendar-md style="height:40vh; margin: 8px;
            " md-whiteframe ="1" id="calendar-demo"  calendar-direction="direction" on-prev-month="prevMonth" on-next-month="nextMonth" on-day-click="dayClick" title-format="'MMMM y'" ng-model='selectedDate' day-format="dayFormat" day-label-format="'EEE'" day-label-tooltip-format="'EEEE'" day-tooltip-format="'fullDate'" week-starts-on="weekStartsOn" start-Date-of-month="1" no-of-days="30" tooltips="true" day-content="setDayContent" disable-future-selection="disableFutureDates"></calendar-md>

            <md-content class = "appBackground">
            <md-card md-whiteframe= "3">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" style = "color:#75a23b;">Questions regarding your appointments?</span>
                        <span class="md-subhead">Please give us a call at (514)-hotline-blink</span>
                        <span class="md-subhead">or email us at bieber@bieber.com</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            </md-content>
            </div>



            <div class = "container appBackground" layout="column" flex ="50">
                <md-toolbar style = "background-color:#75a23b; margin-top:8px " layout-align="center center"> Today </md-toolbar>
                <md-content>
                <md-card ng-repeat= "n in [1,2,3,4,5]" class="next">
                    <md-card-title>
                    <md-card-title-text>
                    <span class="md-headline"><u style= "color:#74A333"><b style= "color:#74A333">Appointment's title</b></u></span> <br>
                    <span class="md-headline">CT for Radiotherapy Planning</span><br>
                    <span class="md-subhead"><i class="fa fa-calendar" style="color:#2B6197"></i>&nbsp;13:/7/1994</span><br>
                    <span class="md-subhead"><i class="ion-person iconHomeView"></i>&nbsp;Dr. Justin Beiber</span><br>
                    <span>(514)-HOTLINE-BLING</span><br>
                    <span>bieber@justin.com</span>
                </md-card-title-text>
                 <md-card-title-media>
                <div class="md-media-md card-media">
                </div>
                </md-card-title-media>`
                </md-card-title>
            </md-card>
            </div>
       </div>
</div>
</body>
</html>